body{
  background-color: grey;
}

h1 {
  text-align: center;
  color: black;
}

.bilde {
  width: 300px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;

}
